.bs-agenda {
  border: 4px solid $color-blue-light;
  word-break: break-word;

  h3 > a {
    color: inherit;
  }

  &__front {
      display: flex;
      flex-direction: column-reverse;
      background-color: $color-blue-light;

      * {
        color: #f7f7f7;
      }

      @include respond-large {
        flex-direction: row;
      }

      &-text {
        font-size: .8rem;
        flex: 0 0 45%;

        &-inner {
          padding: 4rem;
        }
      }

    }


    &__text {
      border: 1px solid;
      font-size: .8rem;

      &-inner {
        background-color: #fefff0;
        padding: .5rem;

        @include respond-large {
          padding: 2rem;
          columns: 2;
          column-gap: 4rem;
          column-rule: 1px solid lightgrey;
        }

      }
    }

    &__heading {
      @include heading;

      > h4 {
        margin: 0;
        padding: .75rem 0;
        font-size: 1.1rem;
      }
    }

    &__list {
      list-style: none;
      padding: 4px 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    &__info {
      border: 0;
    }

    &__item {
      flex: 0 0 33.3333%;
      display: flex;
      align-items: center;
      line-height: 1;
      padding-top: 2px;

      a {
        color: inherit;
      }

      &-date,
      &-city,
      &-venue,
      &-artist {
        // text-transform: uppercase;
        @include heading;
      }
    }

    &__city {
      @include heading;
      word-spacing: -.25rem;
    }

    &__venue {
      font-variant: small-caps;

      > a {
        color: inherit;
      }
    }

    &__play {

    }

    strong.gigpress-cancelled, strong.gigpress-soldout {
      background-color: $color-red;
    }

}

.bs-agenda-single {
  outline: 1px solid #f7f7f7;
  outline-offset: -4px;

  &__text {
    background-color: $color-blue-light;
    padding: 3rem 6rem;
    font-size: .85rem;

    * {
      color: #f7f7f7;
    }

    .bs-sidebar__heading {
      margin-top: 2rem;
      color: #f7f7f7;

      span {
        background-color: $color-blue-light;
      }
    }

    .gigpress-calendar-links-inner {
      color: $color-black;

      span a {
        color: $color-black;
      }
    }

    .bs-agenda__list {
      border-bottom: 0;
    }

    &-inner {

      @include respond-large {
        padding: 2rem;
        columns: 2;
        column-gap: 4rem;
        column-rule: 1px solid;
        column-fill: balance;
      }
    }
  }
}
