.bs-home {
  border: 6px solid $color-blue-light;

  &__playing {
    padding: .5rem;

    @include respond-medium {
      padding: 1.5rem .5rem;
    }

    @include respond-large {
      padding: 3rem 1rem;
    }
  }

}
