.bs-sidebar {
  padding: 3rem 0;

  &__heading {
    position: relative;
    text-align: center;

    &::after {
      position: absolute;
      display: block;
      content: '';
      background-color: currentColor;
      width: 100%;
      height: 1px;
      left: 0;
      top: 10px;
    }

    span {
      background: #fff;
      z-index: 2;
      position: relative;
      padding: 0 1rem;
    }
  }

  &__list {
    padding: 2rem 0;
  }

  &__item {
    background-color: #fff;
    color: $color-black;
  }

  &__card {

    &-footer {

    }

    &-title {
      @include heading;
      font-weight: 700;
      color: $color-blue-light;
      line-height: 1;
      display: inline-block;
      padding: .25rem 0;

      span {
        color: $color-black;
        margin-left: 4px;
        font-family: 'AvenirNextLTPro-Medium', serif;
        text-transform: none;
        word-spacing: 0;
        font-size: 85%;
      }
    }

  }

  &__link {
    display: block;
    height: 12.5rem;
    @include photo;
    transition: all .2s ease-in;

    &:hover {
      opacity: .7;
    }

  }

}
