.bs-search {

  &__input {
    @include heading;
  }

  &__icon {
    fill: $color-red;
    stroke: $color-red
  }

  &__overlay {
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 110;
    position: fixed;
    right: 10rem;
    top: 4rem;
    background-color: rgba(#fff, .9);
    transform: scale(1.09);
    transition: opacity .3s, transform.3s, visibility .3s;

    &--active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

}
