.bs-totop {
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  display: block;
  display: none;
  z-index: 1000;
  // background-color: #fff;
  color: $color-red;
  padding: .5rem;
  // border: 1px solid currentColor;
  box-shadow: 0 0 1px $color-black;
  border-radius: 50%;
  transition: all .3s;

  &:hover {
    color: #f7f7f7;
    transform: scale(1.05);
    background-color: $color-red;
  }
}
