.bs-totop {
  position: fixed;
  color: $color-red;
  top: 95%;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 0 1px $color-black;
  background-color: rgba(#f7f7f7, .7);

  // animation-duration: .3s;
  // animation-name: totop;
  //
  // @keyframes totop {
  //   from {
  //     opacity: 0;
  //   }
  // }

  &__link {
    color: inherit;
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
