// MEDIA QUERY MANAGER

/*
0 - 639px: default
640px - 959px: medium
960px - 1199px: large
1200px - 1599px: xlarge
1600px - ~ : xxlarge
*/

@mixin respond-medium {
  @media (min-width: 640px) { @content };
}
@mixin respond-large {
  @media (min-width: 960px) { @content };
}
@mixin respond-xlarge {
  @media (min-width: 1200px) { @content };
}
@mixin respond-tiles {
  @media (min-width: 1294px) { @content };
}
@mixin respond-xxlarge {
  @media (min-width: 1440px) { @content };
}
@mixin respond-xxxlarge {
  @media (min-width: 1600px) { @content };
}


@mixin heading {
  font-family: $font-secondary;
  text-transform: uppercase;
  word-spacing: -.5rem;
  line-height: 1;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover {
  text-decoration: none;
  transform: rotate(-1deg) scale(1.05);
}

@mixin photo {
  background-position: center;
  background-size: cover;
}

@mixin tiles-bg {
  &:nth-of-type(6n+1) {
    background-color: $color-black;
    color: #f7f7f7;
  }

  &:nth-of-type(6n+2) {
    background-color: #f7f7f7;
    color: $color-black;
  }

  &:nth-of-type(6n+3) {
    background-color: #d41800;
    color: #f7f7f7;
  }

  &:nth-of-type(6n+4) {
    background-color: #a8a9ad;
    color: #ffffe9;
    // color: #f7f7f7;
  }

  &:nth-of-type(6n+5) {
    background-color: $color-purple;
    * {
      color: #f7f7f7;
    }
  }

  &:nth-of-type(6n+6) {
    background-color: #d400bc;

    * {
      color: #f7f7f7;
    }
  }
}

@mixin tiles-tags-bg {
  &:nth-of-type(4n+1) {
    background-color: #363538;
    color: #f7f7f7;
  }

  &:nth-of-type(4n+2) {
    background-color: #8d8c8a;
  }

  &:nth-of-type(4n+3) {
    background-color: #408697;
    color: #f7f7f7;
  }

  &:nth-of-type(4n+4) {
    background-color: #52d6f4;
    color: #000;
  }

}
