$color-red: #ed1b24;
$color-red-dark: #840f0a;
$color-black: #3b3b3b;
$color-blue: #3266ff;
$color-blue-light: #00bcd4;
$color-purple: #8c038c;
$color-pink-red: #e91e63;
$color-grey: #a8a9ad;
$color-yellow: #e8da1a;

$font-secondary: 'Roboto Mono', sans-serif;
